div{
    width: 200px;
    height: 200px;
    border: 3px solid white;
    border-left: 3px solid black;
    border-right: 3px solid black;
    border-top: 3px solid black;

    border-radius: 50%;
    animation: first 1s linear infinite;
}
@keyframes first {
from{
    transform: rotate(0deg);
}
to{
    transform: rotate(360deg);
}
    
}

