h1{
    margin: 50px;
    display: flex;
}

.round{
    background-color: rgba(211, 211, 211, 0.777);
    padding: 15px 10px;
    width: max-content;
    position: relative;
     transition: 1s; 
}  
.round::before{
    content: "";
    align-self: center;
    position: absolute;
    z-index: -1;
    transition: 1s; 
}
.round:hover{border-bottom-right-radius: 15px;
border-bottom-left-radius: 15px;
border-top-left-radius: 15px;
border-top-right-radius: 15px;
transition: 0.5s;  
}

.forward:hover{
 transform: translateX(15px);
     transition: transform 0.5s;
}

.forward{
    display: inline-block;
    padding: 5px 10px ;
    transition: transform 0.5s;
    position: relative;
    
}
.forward::before{  border: 1px solid  rgba(211, 211, 211, 0.777);
     background-color: rgba(211, 211, 211, 0.777);
     content: "";
     width: 100%;
     height: 100%;
     position: absolute;
     z-index: -1; 
     transition: 1s;
    right: 0;
    transition:  1s ease;
}

.back:hover{
 transform: translateX(-15px);
     transition: transform 0.5s;
}

.back{
    display: inline-block;
    padding: 5px 10px ;
    transition: transform 0.5s;
    position: relative;
    
}
.back::before{  border: 1px solid  rgba(211, 211, 211, 0.777);
     background-color:  rgba(211, 211, 211, 0.777);
     content: "";
     width: 100%;
     height: 100%;
     position: absolute;
     z-index: -1; 
     transition: 1s;
    right: 0;
    transition:  1s ease;
}


